
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container_fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5 class="title contact-title">
                    Bản đồ
                </h5>
                <div class="clearfix">
                </div>
                <div class="map">
	                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1446.9663153734668!2d106.71448731423168!3d10.801777027806464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a459cb43ab%3A0x6c3d29d370b52a7e!2zxJDhuqFpIGjhu41jIEPDtG5nIG5naOG7hyBUUC5IQ00gKEhVVEVDSCk!5e0!3m2!1svi!2s!4v1508690416995" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="clearfix">
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="contact-infoormation">
                            <h5>
                                Thông tin liên hệ
                            </h5>
                            <p>
                                Shop thời trang Viễn ra đời từ năm 2000 từng bước phát triển và được quý khách yêu mến, chúng tôi ngày càng phấn đấu để phục vụ quý khách tốt hơn
                            </p>
                            <ul>
                                <li>
                                    <span class="icon">
                                        <img src="~/images/message.png" alt="">
                                    </span>
                                    <p>
                                        Email
                                        <br>
                                        vienshop@gmail.com
                                    </p>
                                </li>
                                <li>
                                    <span class="icon">
                                        <img src="~/images/phone.png" alt="">
                                    </span>
                                    <p>
                                        Điện thoại
                                        <br>
                                        0978329245
                                    </p>
                                </li>
                                <li>
                                    <span class="icon">
                                        <img src="~/images/address.png" alt="">
                                    </span>
                                    <p>
                                        137 Ấp Bắc
                                        <br>
                                        TP Tiền Giang, Việt Nam
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="ContactForm">
                            <h5>
                                Tin nhắn
                            </h5>
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>
                                            Họ tên
                                            <strong class="red">
                                                *
                                            </strong>
                                        </label>
                                        <input class="inputfild" type="text" name="">
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            Email
                                            <strong class="red">
                                                *
                                            </strong>
                                        </label>
                                        <input class="inputfild" type="email" name="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>
                                            Tin nhắn
                                            <strong class="red">
                                                *
                                            </strong>
                                        </label>
                                        <textarea class="inputfild" rows="8" name="">
                          </textarea>
                                    </div>
                                </div>
                                <button class="pull-right">
                                    Gởi tin nhắn
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>
