@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<div class="hom-slider">
	<div class="container">
		<div id="sequence">
			<div class="sequence-prev"><i class="fa fa-angle-left"></i></div>
			<div class="sequence-next"><i class="fa fa-angle-right"></i></div>
			<ul class="sequence-canvas">
				<li class="animate-in">
					<div class="flat-caption caption1 formLeft delay300 text-center"><span class="suphead">Paris show 2015</span></div>
					<div class="flat-caption caption2 formLeft delay400">
						<h1>Nét đẹp hiện đại</h1>
					</div>
					<div class="flat-caption caption3 formLeft delay500">
						<h2>Mang phong cách dễ thương và trần ngập sức sống<br> </h2>
					</div>
					<div class="flat-button caption5 formLeft delay600"><a class="more" href="#">Xem Chi Tiết</a></div>
					<div class="flat-image formBottom delay200" data-bottom="true"><img src="~/images/slider-image-01.png" alt=""></div>
				</li>
				<li>
					<div class="flat-caption caption1 formLeft delay300 text-center"><span class="suphead">Paris show 2016</span></div>
					<div class="flat-caption caption2 formLeft delay400">
						<h1>Nét đẹp hiện đại</h1>
					</div>
					<div class="flat-caption caption3 formLeft delay500">
						<h2>Mang phong cách dễ thương và trần ngập sức sống<br> </h2>
					</div>
					<div class="flat-button caption5 formLeft delay600"><a class="more" href="#">Xem Chi Tiết</a></div>
					<div class="flat-image formBottom delay200" data-bottom="true"><img src="~/images/slider-image-02.png" alt=""></div>
				</li>
				<li>
					<div class="flat-caption caption1 formLeft delay300 text-center"><span class="suphead">Paris show 2017</span></div>
					<div class="flat-caption caption2 formLeft delay400">
						<h1>Nét đẹp hiện đại</h1>
					</div>
					<div class="flat-caption caption3 formLeft delay500">
						<h2>Mang phong cách dễ thương và trần ngập sức sống<br> </h2>
					</div>
					<div class="flat-button caption5 formLeft delay600"><a class="more" href="#">Xem Chi Tiết</a></div>
					<div class="flat-image formBottom delay200" data-bottom="true"><img src="~/images/slider-image-03.png" alt=""></div>
				</li>
			</ul>
		</div>
	</div>
	<div class="promotion-banner">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="promo-box"><img src="~/images/promotion-01.png" alt=""></div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="promo-box"><img src="~/images/promotion-02.png" alt=""></div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="promo-box"><img src="~/images/promotion-03.png" alt=""></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class="container_fullwidth">
	<div class="container">
		<div class="hot-products">
			<h3 class="title">Sản phẩm<strong> HOT</strong> </h3>
			@*<div class="control"><a id="prev_hot" class="prev" href="#">&lt;</a><a id="next_hot" class="next" href="#">&gt;</a></div>*@
			<ul id="hot">
				<li>
					<div class="row">
						@Html.Action("NewProduct", "Home")
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="products">
								<div class="offer">- %20</div>
								<div class="thumbnail"><a href="details.html"><img src="~/images/products/small/products-01.png" alt="Product Name"></a></div>
								<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
								<h4 class="price">$451.00</h4>
								<div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="products">
								<div class="thumbnail"><a href="details.html"><img src="~/images/products/small/products-02.png" alt="Product Name"></a></div>
								<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
								<h4 class="price">$451.00</h4>
								<div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="products">
								<div class="offer">New</div>
								<div class="thumbnail"><a href="details.html"><img src="~/images/products/small/products-03.png" alt="Product Name"></a></div>
								<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
								<h4 class="price">$451.00</h4>
								<div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="products">
								<div class="thumbnail"><a href="details.html"><img src="~/images/products/small/products-04.png" alt="Product Name"></a></div>
								<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
								<h4 class="price">$451.00</h4>
								<div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<div class="featured-products">
			<h3 class="title">Sản phẩm<strong> NỔI BẬT</strong> </h3>
			@*<div class="control"><a id="prev_featured" class="prev" href="#">&lt;</a><a id="next_featured" class="next" href="#">&gt;</a></div>*@
			<ul id="featured">
				<li>
					<div class="row">
						@Html.Action("FeaturedProduct","Home")
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="products">
								<div class="thumbnail"><a href="details.html"><img src="~/images/products/small/products-01.png" alt="Product Name"></a></div>
								<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
								<h4 class="price">$451.00</h4>
								<div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="products">
								<div class="thumbnail"><a href="details.html"><img src="~/images/products/small/products-02.png" alt="Product Name"></a></div>
								<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
								<h4 class="price">$451.00</h4>
								<div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="products">
								<div class="thumbnail"><a href="details.html"><img src="~/images/products/small/products-03.png" alt="Product Name"></a></div>
								<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
								<h4 class="price">$451.00</h4>
								<div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="products">
								<div class="thumbnail"><a href="details.html"><img src="~/images/products/small/products-04.png" alt="Product Name"></a></div>
								<div class="productname">Iphone 5s Gold 32 Gb 2013</div>
								<h4 class="price">$451.00</h4>
								<div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
