<li class="option-cart">
    <a href="@Url.Action("Cart","Cart")" class="cart-icon">
        cart <span class="cart_no">@ViewBag.AllQuantity</span>
    </a>
    @*<ul class="option-cart-item">
        <li>
            <div class="cart-item">
                <div class="image"><img src="~/images/products/thum/products-01.png" alt=""></div>
                <div class="item-description">
                    <p class="name">Lincoln chair aaaaaaa</p>
                    <p>Size: <span class="light-red">One size</span><br>Số lượng: <span class="light-red">01</span></p>
                </div>
                <div class="right">
                    <p class="price">320.000 VND</p>
                    <a href="#" class="remove"><img src="~/images/remove.png" alt="remove"></a>
                </div>
            </div>
        </li>
        <li>
            <div class="cart-item">
                <div class="image"><img src="~/images/products/thum/products-02.png" alt=""></div>
                <div class="item-description">
                    <p class="name">Lincoln chair ccccc</p>
                    <p>Size: <span class="light-red">One size</span><br>Số lượng: <span class="light-red">01</span></p>
                </div>
                <div class="right">
                    <p class="price">400.000 VND</p>
                    <a href="#" class="remove"><img src="~/images/remove.png" alt="remove"></a>
                </div>
            </div>
        </li>
        <li><span class="total">Tổng tiền <strong>840.000 VND</strong></span><button class="checkout" onClick="location.href='checkout.html'">CheckOut</button></li>
    </ul>*@
</li>