@{
	ViewBag.Title = "Forgot Password Confirmation";
}

<div class="container_fullwidth">
	<div class="container">
		<h1>@ViewBag.Title.</h1>
		<div class="col-md-9">
			<ol class="checkout-steps">
				<li class="steps active">
					<div class="step-description">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="run-customer">
									
									<div>
										<p style="color:red">
											Please check your email to reset your password.
										</p>
									</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ol>
			</div>
		</div>
	</div>
